<footer>
    <nav>
        <a href='https://iamipro.tistory.com/' target='_blank'>Blog</a> |
        <a href='https://github.com/MyoungSoo7/' target='_blank'>Github</a>
    </nav>
    <p>
        <span>Reference : https://developers.kakao.com</span><br>
        <span>Source Code : https://github.com/MyoungSoo7/pharmacyrecommend</span><br>
        <span>Copyright 2023. Myoung Soo All Rights Reserved.</span>
    </p>
</footer>